@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

h1{ 
font-family:'Mukta', 'sans-serif';
font-weight:700;
background-color: #FFBD5C;
padding:15px;
}

body {
    font-family:'Mukta', 'sans-serif';
  font-weight:300;
}
div.desc {
  font-family: "Mukta", "san-serif";
  font-weight:800;
  padding: 15px;
  text-align: center;
}

p.light {
    font-family:'Mukta', 'sans-serif';
  font-weight:400;
}

/* Style The Dropdown Button */
.dropbtn {
  background-color: #FF9900;
  color: white;
  padding: 5px 7px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  float:left;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FF9900;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 22px 22px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #CC7A00}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #CC7A00;
}

/* Style The Horizontal Navbar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #CC7A00;
}
